<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sim.Settings.Graphics" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sim.Settings.Colors" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sim.Interface.Colors" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sim.Interface.BuildSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sim.User" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sim.Settings.Graphics>
            <setting name="GrassDrawDist" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TreeDrawDist" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TerrainDetail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindTurbulence" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="WindX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindZ" serializeAs="String">
                <value>-5</value>
            </setting>
            <setting name="SnowDensity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RainDensity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowBBs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QualityVegetation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ViewDistance" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Overcast" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BumpEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShadowsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BloomEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Sim.Settings.Graphics>
        <Sim.Settings.Colors>
            <setting name="ButtonUp" serializeAs="String">
                <value>255, 255, 255, 255</value>
            </setting>
            <setting name="ButtonDown" serializeAs="String">
                <value>112, 128, 144, 255</value>
            </setting>
            <setting name="ButtonHover" serializeAs="String">
                <value>173, 216, 230, 255</value>
            </setting>
            <setting name="PanelBG" serializeAs="String">
                <value>0, 0, 0, 128</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>255, 255, 255, 255</value>
            </setting>
            <setting name="TextShadow" serializeAs="String">
                <value>0, 0, 0, 128</value>
            </setting>
        </Sim.Settings.Colors>
        <Sim.Interface.Colors>
            <setting name="ButtonUp" serializeAs="String">
                <value>255, 255, 255, 255</value>
            </setting>
            <setting name="ButtonDown" serializeAs="String">
                <value>112, 128, 144, 255</value>
            </setting>
            <setting name="ButtonHover" serializeAs="String">
                <value>173, 216, 230, 255</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Sim.Interface.Colors>
        <Sim.Interface.BuildSettings>
            <setting name="VegDensity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TreeDensity" serializeAs="String">
                <value>0.02</value>
            </setting>
            <setting name="ScaleX" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ScaleY" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="ScaleZ" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Climate" serializeAs="String">
                <value>Tropical</value>
            </setting>
            <setting name="HMIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Smoothing" serializeAs="String">
                <value>2</value>
            </setting>
        </Sim.Interface.BuildSettings>
        <Sim.User>
            <setting name="GrassDrawDist" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="TreeDrawDist" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TerrainDetail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindTurbulence" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="WindX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SnowPPM" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="RainPPM" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ShowBBs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
        </Sim.User>
    </userSettings>
</configuration>